body {
    background: radial-gradient(ellipse at center, #c2e9fb, #a1c4fd);
    background-repeat: no-repeat;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100vh; */
    margin: 0;

    font-family: Arial, sans-serif;
}

.correzioni {
    text-decoration: none;
    color: black;
}

.button-correzioni {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    margin-top: 10px;
}

.button-return {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    padding: 20px;
    border-radius: 25px;
    background-color: white;
}

.title {
    margin: 5px;
}